.group__list {

    li.ant-menu-item.group__item {
        .ant-menu-title-content {
            display: flex;
            align-items: center;
        }
        margin-bottom: 20px;
        padding: 0 12px;
        height: 41px;


        .group__img {
            margin-right: 20px;
        }

        .group__delete-icon {
            color: #f35050;
            margin-left:auto;
            font-size:18px;
        }

    }
}

.skeleton {
    display: flex;
    align-items: center;
    padding: 4px 12px 20px 12px;
    &__img {
        margin-right: 16px;
    }
    &__text {
        width: 100%;
    }
}



