.mess__list {

    li.ant-menu-item.mess__item {
        margin-bottom: 20px;
        padding: 0 12px;

        .mess__img {
            margin-right: 20px;
        }

    }
}

.skeleton {
    display: flex;
    align-items: center;
    padding: 4px 12px 20px 12px;
    &__img {
        margin-right: 16px;
    }
    &__text {
        width: 100%;
    }
}



