div.user {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    margin-bottom: 16px;
    height: 76px;
    border-bottom: 1px solid #e8ebed;
}

span.user__avt {
    margin:0 12px;
}

span.user__icon {
    font-size: 28px;
    margin-left: auto;
    margin-right: 16px;
}