.content {
    overflow-x: hidden;
}
.content-header {
    display: flex;
    height: 76px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background: white;
    z-index: 2;
    width: 100%;

    &__img {
        padding-left: 16px;
    }
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);

}

.ant-row.content-message-list {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding-top:16px;
    height: calc(100vh - 110px - 62px - 76px);
    overflow: scroll;
    overflow-x: hidden;
}
span.content-header__add-members {
    font-size:28px;
    margin-right: 16px;
}

div.ant-col.content-header__members {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

div.ant-col.content-header__title {
    display: flex;
    flex-flow: column;
}
.form-msg {
    display: flex;;
    background: white;
    width: 100%;
    box-shadow: 0px -8px 18px -1px rgba(0,0,0,0.08);
    padding: 12px 8px;
    min-height: 62px;
    justify-content: flex-start;
    align-items: center;
    div.ant-form-item {
        margin-bottom: 0;
    }
   

    &__send {
        font-size: 20px;
        padding: 0 12px;
        line-height: 100%;
        &:hover {
            opacity: 0.7;
            cursor: pointer;
        }
    }
    &__input {
        width: 100%;
        margin-right: 16px;
    }
}

.ant-input.input-text {
    border-radius: 12px;
    // margin-left: 16px;
    margin-right: 8px;
}

.ant-form-item.form-msg__picture{
    margin-left: 8px;
    &:hover{
        opacity: 0.7;
        cursor: pointer;
    }
}
.ant-form-item.form-msg__input{
    margin-right: 16px;
}
.ant-form.form-msg{
    padding: 0 8px;
}
span.form-msg__icon {
    color: #3677a5;
    font-size: 20px;
    padding: 0 8px;
}
.ant-form-item.form-msg__emoji {
    position: relative;
}