.content {
    overflow-x: hidden;
}
.content-header {
    display: flex;
    height: 76px;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background: white;
    z-index: 2;
    width: 100%;

    &__img {
        padding-left: 16px;
    }
    box-shadow: 0 1px 3.125rem 0 rgba(0,0,0,0.2);

}

.ant-row.content-message-list {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-top:16px;
    height: calc(100vh - 110px - 62px - 76px);
    overflow: scroll;
    overflow-x: hidden;
}
span.content-header__add-members {
    font-size:28px;
    margin-right: 16px;
}

div.ant-col.content-header__members {
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

div.ant-col.content-header__title {
    display: flex;
    flex-flow: column;
}